nav a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  margin-top: 1rem;
  transition: 0.6s ease;
}
.nav-logo h2 {
  font-family: "Winky Rough", sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: rgb(245, 79, 115);
}
.dark .nav-logo h2 {
  color: #fff;
}
.active {
  color: rgb(255, 171, 16);
}
.Container {
  padding: 0rem 5rem;
}
nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px #f7f6f9;
  padding: 1rem 0;
  background-color: #fff;
  color: black;
  transition: all 0.3s ease;
  z-index: 999;
}
.dark nav {
  background-color: #1e1e1e;
  color: white;
}

.nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 2rem;
  transition: 0.7s;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-menu a:hover {
  border-bottom: 1px solid rgb(255, 169, 10);
  color: rgb(255, 171, 16);
}

/* dark-light-mode */
.dark-light-mode {
  font-size: 25px;
  cursor: pointer;
}
/* dark-light-mode */
.menu-bar {
  font-size: 25px;
  display: none;
  z-index: 10;
}

@media screen and (max-width: 858px) {
  .dark-light-mode {
    position: fixed;
    top: 10%;
    right: 5%;
  }
  .Container {
    padding: 0rem 1.8rem;
  }
  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 0.6rem;
    color: #000000;
    padding: 4rem 2rem;
    width: 200px;
    text-align: center;
    gap: 2rem;
  }
  .dark .nav-menu {
    background-color: rgba(7, 7, 7, 0.699);
    color: #f7f7f7;
  }
  .hide-menu {
    right: -200px;
  }
  .menu-bar {
    font-size: 25px;
    display: block;
  }
}
