.book-appointment {
  background-color: #f9fcfd;
  padding: 3rem 2rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.dark .book-appointment {
  background-color: #242325;
  color: #fff;
}
.appointment-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .appointment-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.appointment-form {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dark .appointment-form {
  background-color: #000000;
  color: #fff;
}
.appointment-form label {
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}
.appointment-form input,
.appointment-form select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.appointment-form button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #e68900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.appointment-form button:hover {
  background-color: #c47704;
}

.contact-info {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.dark .contact-info {
  background-color: #000000;
  color: #fff;
}
.contact-info p {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
}
.contact-info svg {
  color: #2b9cf8;
}

.thank-you-message {
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  background-color: #2c273d;
  color: #ffffff;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 50%;
  margin: auto;
}
