/* Base Footer Style */
.footer {
  padding: 60px 20px 20px;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.3s ease;
  background-color: #0f162e;
  color: #ffffff;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.dark .footer {
  background-color: #1a1818;
  color: #ddd;
}

/* Heading Colors */
.footer-section h3,
.footer-section h4 {
  color: #fbb034;
  margin-bottom: 15px;
}

/* Text & Links */
.footer-section p,
.footer-section li,
.footer-section a {
  font-size: 15px;
  line-height: 1.6;
  transition: 0.3s;
}

.footer-section a,
.footer-section li {
  color: #b4b2b2;
  text-decoration: none;
}

.dark .footer-section a,
.dark .footer-section li {
  color: #ccc;
}

.footer-section li:hover,
.footer-section a:hover {
  color: #fbb034;
  transform: translateX(5px);
}

/* Contact Info */
.contact-info {
  color: #000;
}
.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons a {
  background: #222;
  color: #fbb034;
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background-color: #fbb034;
  color: #000;
  transform: scale(1.1);
}

/* Map */
.footer-section iframe {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #333;
  font-size: 14px;
}

.light .footer-bottom {
  color: #777;
  border-color: #ddd;
}

.dark .footer-bottom {
  color: #888;
  border-color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    gap: 30px;
  }
}
